/* Catalog.css */
.CatalogWrapper {
    padding: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .CategoryItem,
  .ProductItem {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .CategoryItem h3,
  .ProductItem h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .ProductItem p {
    margin: 0;
    color: #555;
  }
  
  .ProductItem p:first-of-type {
    margin-top: 10px;
  }