.contact-wrapper {
    padding: 20px;
    font-family: 'YourDesiredFont', sans-serif;
    margin-top: 120px;
}
  
.contact-header {
    margin-bottom: 10px;
}
  
.contact-info {
    margin-bottom: 5px;
}
 
.loading-message {
    font-size: 1.2em;
}
