/* LoginPage.css */

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .login-form,
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .link {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
  }
  
  .link:hover {
    text-decoration: underline;
    color: #0056b3;
  }
  
  .register-form-container {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

.login-container {
  margin-top: 120px;
}