/* Header.css */

.HeaderContainer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 120px; 
}

.LogoImage {
  width: 160px; /* Установите нужную ширину */
  height: auto;
  margin-right: 10px; /* Регулируйте отступ справа, если необходимо */
  margin-top: 10px; /* Добавьте отступ сверху */
  margin-left: 10px; /* Добавьте отступ слева */
}

.HeaderContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TopBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Logo {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.PhoneNumberWrapper {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.PhoneNumberIcon {
  margin-right: 5px;
}

.BottomBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.Menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.AnimatedMenuItem {
  padding: 10px;
  margin: 5px;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.IconWrapper {
  display: flex;
  align-items: center;
}

.LoginWrapper,
.CartWrapper {
  margin-left: 10px;
}

.EntryText,
.CartText {
  margin-right: 5px;
}

.UserIcon,
.CartIcon {
  font-size: 20px;
}

.CartItemCount {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.AnimatedMenuItem {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  overflow: hidden;
}

.AnimatedMenuItem::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;  /* Цвет подчеркивания */
  transition: width 0.3s ease;  /* Длительность и тип анимации */
}

.AnimatedMenuItem:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .TopBlock {
    flex-direction: column;
    text-align: center;
  }

  .PhoneNumberWrapper {
    margin-top: 10px;
  }

  .BottomBlock {
    flex-direction: column;
  }

  .LoginWrapper,
  .CartWrapper {
    margin-left: 0;
    margin-top: 10px;
  }
}