.HeaderContainer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .HeaderContentWrapper {
    margin: 0 8cm; /* Отступы по 8 см слева и справа */
  }
  
  .TopBlock,
  .BottomBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .Logo {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  .PhoneNumberWrapper {
    display: flex;
    align-items: center;
  }
  
  .PhoneNumberIcon {
    font-size: 1.2em;
    margin-right: 5px;
  }
  
  .PhoneNumber {
    font-size: 1.2em;
    color: white;
  }
  
  .Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px; /* Добавил отступ сверху для выравнивания */
  
    @media (max-width: 768px) {
      margin-top: 5px; /* Адаптивный отступ для маленьких экранов */
    }
  }
  
  .Menu a {
    white-space: nowrap;
    margin: 0 15px; /* Увеличил отступы между элементами для лучшего распределения */
  
    @media (max-width: 768px) {
      margin: 5px 0;
      font-size: 0.9em;
    }
  }
  
  .IconWrapper {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Увеличил отступ справа для выравнивания иконок */
  
    @media (max-width: 768px) {
      margin-right: 0;
      margin-top: 5px; /* Адаптивный отступ для маленьких экранов */
    }
  }
  
  .IconWrapper a {
    white-space: nowrap;
    margin-left: 5px; /* Добавил небольшой отступ между элементами */
  
    @media (max-width: 768px) {
      margin-left: 0;
      font-size: 0.9em;
    }
  }
  
  .AnimatedMenuItem {
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
  }
  
  .AnimatedMenuItem:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }
  
  .AnimatedMenuItem:hover:before {
    transform: scaleX(1);
  }
  
  .EntryText {
    font-size: 0.9em;
    margin-left: 5px;
  }
  
  .UserIcon {
    font-size: 1.2em;
    margin-left: -5px;
  }
  
  .CartWrapper {
    display: flex;
    align-items: center;
  }
  
  .CartIcon {
    font-size: 1.2em;
    margin-right: 5px;
  }
  
  .CartText {
    font-size: 0.9em;
    margin-left: 5px;
  }
  
  .CartItemCount {
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    margin-left: 3px;
  }

  .EntryText {
    margin-right: 5px; /* Добавил отступ между словом "Войти" и иконкой */
  }
  
  .CartText {
    margin-right: 5px; /* Добавил отступ между словом "Корзина" и иконкой */
  }