/* NewsList.css */

.NewsListWrapper {
    h2 {
      margin-top: 0;
    }
  
    .news-item {
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden; /* Добавляем overflow, чтобы обеспечить скрытие изображений, выходящих за пределы блока */
  
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px; /* Добавляем отступ после изображения */
      }
  
      h3 {
        color: #333;
      }
  
      p {
        margin-bottom: 10px;
      }
  
      strong {
        color: #555;
      }
  
      .carousel-wrapper {
        overflow: hidden;
        white-space: nowrap;
      }
  
      .carousel-content {
        display: inline-block;
        transition: transform 0.5s ease;
      }
  
      .carousel-item {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
      }
    }
  }